---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main id="main">
		<h1 class="title">ASTRO + PIXI + TS</h1>
		<canvas id="canvas"></canvas>
	</main>
</Layout>


<style>
	.title {
		font-size: 1rem;
	}
</style>

<script>
	import * as PIXI from 'pixi.js';
		  const canvas = document.getElementById('canvas') as HTMLCanvasElement;
      let app = new PIXI.Application({ view: canvas, width: 640, height: 360 , background: '#1099bb'});


	  const container = new PIXI.Container();

app.stage.addChild(container);

// Create a new texture
const texture = PIXI.Texture.from('hour-pointer.png');

    const pointer = new PIXI.Sprite(texture);
    pointer.anchor.set(0);
    pointer.x = 0;
    pointer.y = 0;
    container.addChild(pointer);

container.x = app.screen.width / 2;
container.y = app.screen.height / 2;


container.pivot.x = container.width / 2;
container.pivot.y = container.height / 2;

// Listen for animate update
app.ticker.add((delta) => {
    // rotate the container!
    // use delta to create frame-independent transform
    container.rotation -= 0.05 * delta;
});


</script>